<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Traveller Details</title>
  </head>
  <body>
    
    
<div class="container">
    <h1 class="text-center my-4">Traveller</h1>

    <a class="btn btn-primary" th:href="@{/addEmp}">Create Traveller</a>

<a class="btn btn-primary" th:href="@{/admin}">Admin Page</a>
 
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="traveller : ${traveller}">
                <td th:text="${traveller.TId}"></td>
                <td th:text="${traveller.fullName}"></td>
                <td th:text="${traveller.address}"></td>
                <td th:text="${traveller.email}"></td>
                <td th:text="${traveller.password}"></td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" th:href="@{edit(TId=${traveller.TId})}">Edit</a>
                    <a class="btn btn-primary btn-sm" th:href="@{delete(TId=${traveller.TId})}"
                        onclick="return confirm('Are you sure?')">Delete</a>
                    <a class="btn btn-primary btn-sm" th:href="@{/passport/{TId}(TId=${traveller.TId})}"
                        onclick="return confirm('Are you sure?')">Not Working</a>

                    <!-- Modal Trigger Button -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addappointment">Add Passport</button>


                <a class="btn btn-primary" th:href="@{findPass}">Find Passport</a> 


                      
                        
                    <!-- Add Passport Modal -->
                    <div class="modal fade" id="addappointment" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="addAppointmentLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="addAppointmentLabel">Passport Details</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="passport" method="post">
                                        <input type="hidden" name="TId" th:value="${traveller.TId}">
                                        <div class="mb-3">
                                            <label for="passportNumber" class="form-label">Passport Number</label>
                                            <input type="text" class="form-control" id="passportNumber"
                                                name="passportNumber" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="issueDate" class="form-label">Passport Issue Date</label>
                                            <input type="text" class="form-control" id="issueDate" name="issueDate"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="expireDate" class="form-label">Passport Expire Date</label>
                                            <input type="text" class="form-control" id="expireDate" name="expireDate"
                                                required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit Passport</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- ------------Country-------------------------------- -->
                    
                    <!-- Modal Trigger Button -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addCountry">Add Country</button>

                    <!-- Add Passport Modal -->
                    <div class="modal fade" id="addCountry" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="addAppointmentLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="addAppointmentLabel">Country Details</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="countryAdd" method="post">
                                        <input type="hidden" name="TId" th:value="${traveller.TId}">
                                       
                                        
                                        
                                        <div class="mb-3"  id="childInputs">
														<label for="appointmentName" class="form-label">Country
															Name</label> <input type="text" class="form-control"
															id="appointmentName" name="countryName" required>
															
															
															
													</div>
													<!-- Button to Add Child Input Field -->
                                          <button type="button" onclick="addChildInput()">Add Country</button><br><br>
                                        
                                        
                                        
                                        
                                        <button type="submit" class="btn btn-primary">Submit Country</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
         
                   
                    <a class="btn btn-primary btn-sm" th:href="@{country}">Country All</a>
                    
                    
                              
                </td>
            </tr>
        </tbody>
    </table>
</div>



<script>
		var redirectFlag = sessionStorage.getItem("redirectFlag");
		if (!redirectFlag) {
			// Redirect to the getallpatients endpoint if the flag is not set
			window.location.href = "getallpatients";
			// Set the flag in sessionStorage to indicate that the redirection has occurred
			sessionStorage.setItem("redirectFlag", "true");
		}
		
		
		var childCount = 1;

	    function addChildInput() {
	        var childInputsDiv = document.getElementById('childInputs');
	        var newChildInput = document.createElement('input');
	        newChildInput.setAttribute('type', 'text');
	        newChildInput.setAttribute('name', 'countryName');
	        newChildInput.setAttribute('placeholder', 'Country Name ' + (childCount + 1));
	        childInputsDiv.appendChild(newChildInput);
	        childInputsDiv.appendChild(document.createElement('br'));
	        childCount++;
	    }
	    
	   
		
		
		
	</script>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>